.login-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.login-container section.form img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-container section.form form{
    margin-top: 100px;
}

.login-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

