version: '3.4'
services:
  db:
    image: leandrocgsi/udemy-mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: always
    build:
      context: .
      dockerfile: Dockerfile    
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: docker
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
      MYSQL_DATABASE: rest_with_spring_boot_udemy
    ports:
      - "3307:3306"
    networks:
      - udemy-network
  
  app:
    restart: always
    build: ./app
    working_dir: /app
    environment:
      TZ: America/Sao_Paulo
      ASPNETCORE_ENVIRONMENT: Production
    volumes:
      - ./app:/app
      - ~/.m2:/root/.m2
    expose:
      - "8080"
    links:
      - db
    depends_on:
      - db
    networks:
      - udemy-network

networks: 
    udemy-network:
        driver: bridge
